.home {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin: 10% auto;
  max-width: 80%;
}
.my-form {
  grid-column: 1/2;
}
.my-table {
  grid-column: 3/4;
}

nav {
  background: #f4f4f4;
  padding: 10px;
}

nav .link {
  font-size: 24px;
  margin: 10px;
}

.about {
  font-size: 36px;
  text-align: center;
}
